.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  div {
    font-size: 20px;
    margin-right: 50px;
    input {
      appearance: none;
      width: 50px;
    }
  }

  button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &_hidden {
    display: none;
  }
}

// MEDIA 
@media screen and (max-width: 1024px) {
  .pagination {
    display: block;
    text-align: center;
    div {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .pagination {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    div {
      font-size: 15px;
      margin-bottom: 0;
      margin-right: 20px;
    }
    button {
      font-size: 25px;
    }
  }
}
