.tableRow_details {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;


  tr {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(193, 176, 87) !important;

    td {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border: none;

      span {
        font-weight: 600;
      }
    }
  }

}

// MEDIA 

@media screen and (max-width: 550px) {
  .tableRow_details {
    tr {
      td {
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(4) {
          display: none;
        }
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
}