* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.table {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__group {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }
}

